.feature_wrapper {
  margin-top: 300px;
  .feature {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: right;
    .feature-right {
      &_bio,
      &_desc {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }
      &_title {
        font-size: 50px;
        line-height: 60px;
        color: #3b3089;
      }
      &_bio {
        color: #5da7da;
      }
      &_desc {
        font-weight: 300;
        color: #3b3089;
      }
    }
  }
}
